<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- <filter>
	    <filter-name>InIt</filter-name>
	    <filter-class>wxtry.InIt</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>InIt</filter-name>
	    <url-pattern>/login.jsp</url-pattern>
	</filter-mapping>    -->
	<servlet>
	   <servlet-name>Dbapi</servlet-name>
	   <servlet-class>urlapi.Dbapi</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Dbapi</servlet-name>
	    <url-pattern>/Dbapi</url-pattern>
	</servlet-mapping>
	<servlet>
	   <servlet-name>WxDo</servlet-name>
	   <servlet-class>wxtry.WxDo</servlet-class>
	   <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	    <servlet-name>WxDo</servlet-name>
	    <url-pattern>/index0.jsp</url-pattern>
	</servlet-mapping>
	
	<servlet>
	   <servlet-name>Showmap</servlet-name>
	   <servlet-class>servlet.Showmap</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Showmap</servlet-name>
	    <url-pattern>/indexx.jsp</url-pattern>
	</servlet-mapping>
	
	<filter>
	     <filter-name>Index</filter-name>
	     <filter-class>filter.Index</filter-class>
	</filter>
	<filter-mapping>
	     <filter-name>Index</filter-name>
	     <url-pattern>/index.jsp</url-pattern>
	</filter-mapping>
	<servlet>
	  <servlet-name>le11Serv</servlet-name>
	  <servlet-class>servlet.le11Serv</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>le11Serv</servlet-name>
	  <url-pattern>/le11Serv</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>le111Serv</servlet-name>
	  <servlet-class>servlet.le111Serv</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>le111Serv</servlet-name>
	  <url-pattern>/le111Serv</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>Login</servlet-name>
	  <servlet-class>servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>Login</servlet-name>
	  <url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>Upload</servlet-name>
	  <servlet-class>servlet.Upload</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>Upload</servlet-name>
	  <url-pattern>/index.php</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>Upload2</servlet-name>
	  <servlet-class>servlet.Upload2</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>Upload2</servlet-name>
	  <url-pattern>/index2.php</url-pattern>
	</servlet-mapping>
	
	<servlet>
	  <servlet-name>SendSecretaryInfo</servlet-name>
	  <servlet-class>servlet.SendSecretaryInfo</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>SendSecretaryInfo</servlet-name>
	  <url-pattern>/SendSecretaryInfo</url-pattern>
	</servlet-mapping>
	
	<servlet>
	   <servlet-name>crudServ</servlet-name>
	   <servlet-class>servlet.crudServ</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>crudServ</servlet-name>
	    <url-pattern>/crudServ</url-pattern>
	</servlet-mapping>
	
	<session-config>  
	<session-timeout>1440</session-timeout> 
	</session-config> 
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>  
</web-app>
